[Application]
name=H2O Utility
version=0.2.6.0
entry_point=VisualUpdater:main
icon=visual.ico

[Shortcut H2O Utility Headless]
entry_point=SilentUpdater:main
icon=silent.ico
console=true

[Python]
version=2.7.14

[Include]
# Packages from PyPI that your application requires, one per line
# These must have wheels on PyPI:
pypi_wheels = appdirs==1.4.3
              decorator==4.0.11
              envoy==0.0.3
              lxml==3.7.3
              networkx==1.11
              packaging==16.8
              path.py==10.3.1
              pyparsing==2.2.0
              pypiwin32==219
              pyserial==3.3
              python-dateutil==2.6.0
              pytz==2017.2
              requests-oauthlib==0.8.0
              requests-toolbelt==0.7.1
              six==1.10.0
              typing==3.6.4
              requests==2.14.2

# Packages that are required but don't have wheels on PyPI.
# These must be installed in the same virtualenv as pynsist
# and you must use the package's site-packages folder name
packages = hs_restclient
        jsonpickle
        oauthlib
        sqlalchemy
        numpy
        pandas
        wx
        pubsub
        pyodbc

# Other files and folders that should be installed
files = VisualUpdater.py
        Common.py
        Utilities/
        GuiComponents/
        GAMUTRawData
        settings.json

[Build]
# The build directory
directory = ./build/H2OUtilityInstaller/

# The installer name (default is the application name plus the version)
installer_name = H2OUtilityInstaller.exe