amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
appnope==0.1.0
astroid==1.4.9
autopep8==1.3.1
backports.functools-lru-cache==1.3
backports.shutil-get-terminal-size==1.0.0
billiard==3.3.0.23
celery==3.1.23
colorama==0.3.7
configparser==3.5.0
decorator==4.0.9
Django==1.9.6
django-appconf==1.0.2
django-bower==5.1.0
django-extensions==1.6.7
djrill==2.1.0
docopt==0.6.1
enum34==1.1.6
envoy==0.0.3
fake-factory==9999.9.9
future==0.16.0
gunicorn==19.6.0
hs-restclient==1.2.7
infi.docopt-completion==0.2.1
ipython-genutils==0.1.0
isort==4.2.5
jsonpickle==0.9.4
kombu==3.0.35
lazy-object-proxy==1.2.2
libsass==0.11.1
lxml==3.7.3
markerlib==0.6.0
mccabe==0.6.1
networkx==1.11
numpy==1.12.1
oauthlib==2.0.2
odm2api==0.5.2
packaging==16.8
pandas==0.19.2
path.py==10.3.1
pexpect==4.1.0
pika==0.9.13
prettytable==0.7.2
psycopg2==2.6.1
ptyprocess==0.5.1
pub==0.0.4
pycodestyle==2.3.1
PyInstaller==3.2.1
pylint==1.6.5
pylog==0.2.0
pyodbc==4.0.16
pyparsing==2.2.0
pypiwin32==219
PyPubSub==3.3.0
pyserial==3.3
python-dateutil==2.6.0
pytz==2016.4
requests==2.14.2
requests-oauthlib==0.8.0
requests-toolbelt==0.7.1
run==0.2
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.9
stripe==1.33.0
traitlets==4.2.1
typing==3.6.1
update==0.4.4
virtualenv==15.1.0
Werkzeug==0.11.9
wrapt==1.10.10
wxPython==4.0.0a2